:root {
  /* Color */
  --color-primary-50: #e9effd;
  --color-primary-100: #d3e0fb;
  --color-primary-200: #a8c1f7;
  --color-primary-300: #7ca1f3;
  --color-primary-400: #5182ef;
  --color-primary-500: #2563EB;
  --color-primary-600: #1e4fbc;
  --color-primary-700: #163b8d;
  --color-primary-800: #0f285e;
  --color-primary-900: #07142f;
  --color-primary-950: #040a18;
  --color-secondary-50: #fef1e8;
  --color-secondary-100: #fee3d0;
  --color-secondary-200: #fdc7a2;
  --color-secondary-300: #fbab73;
  --color-secondary-400: #fa8f45;
  --color-secondary-500: #F97316;
  --color-secondary-600: #c75c12;
  --color-secondary-700: #95450d;
  --color-secondary-800: #642e09;
  --color-secondary-900: #321704;
  --color-secondary-950: #190c02;
  --color-accent-50: #f3effe;
  --color-accent-100: #e8defd;
  --color-accent-200: #d1befb;
  --color-accent-300: #b99dfa;
  --color-accent-400: #a27df8;
  --color-accent-500: #8B5CF6;
  --color-accent-600: #6f4ac5;
  --color-accent-700: #533794;
  --color-accent-800: #382562;
  --color-accent-900: #1c1231;
  --color-accent-950: #0e0919;
  --color-success-50: #e7f8f2;
  --color-success-100: #cff1e6;
  --color-success-200: #9fe3cd;
  --color-success-300: #70d5b3;
  --color-success-400: #40c79a;
  --color-success-500: #10B981;
  --color-success-600: #0d9467;
  --color-success-700: #0a6f4d;
  --color-success-800: #064a34;
  --color-success-900: #03251a;
  --color-success-950: #02130d;
  --color-error-50: #fdecec;
  --color-error-100: #fcdada;
  --color-error-200: #f9b4b4;
  --color-error-300: #f58f8f;
  --color-error-400: #f26969;
  --color-error-500: #EF4444;
  --color-error-600: #bf3636;
  --color-error-700: #8f2929;
  --color-error-800: #601b1b;
  --color-error-900: #300e0e;
  --color-error-950: #180707;
  --color-warning-50: #fef5e7;
  --color-warning-100: #fdecce;
  --color-warning-200: #fbd89d;
  --color-warning-300: #f9c56d;
  --color-warning-400: #f7b13c;
  --color-warning-500: #F59E0B;
  --color-warning-600: #c47e09;
  --color-warning-700: #935f07;
  --color-warning-800: #623f04;
  --color-warning-900: #312002;
  --color-warning-950: #191001;
  --color-information-50: #fdf7e9;
  --color-information-100: #fbeed3;
  --color-information-200: #f7dea7;
  --color-information-300: #f3cd7c;
  --color-information-400: #efbd50;
  --color-information-500: #ebac24;
  --color-information-600: #bc8a1d;
  --color-information-700: #8d6716;
  --color-information-800: #5e450e;
  --color-information-900: #2f2207;
  --color-information-950: #181104;
  --color-neutral-50: #f0f1f3;
  --color-neutral-100: #e0e3e8;
  --color-neutral-200: #c1c7d1;
  --color-neutral-300: #a2acb9;
  --color-neutral-400: #8390a2;
  --color-neutral-500: #64748B;
  --color-neutral-600: #505d6f;
  --color-neutral-700: #3c4653;
  --color-neutral-800: #282e38;
  --color-neutral-900: #14171c;
  --color-neutral-950: #0a0c0e;
  /* Typography */
  --font-heading: Inter, sans-serif;
  --font-body: Inter, sans-serif;
  --font-mono: Roboto Mono, monospace;
  /* Spacing */
  --space-25: 1px;
  --space-50: 2px;
  --space-100: 4px;
  --space-200: 8px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 20px;
  --space-600: 24px;
  --space-700: 28px;
  --space-800: 32px;
  --space-1100: 64px;
  /* Radius */
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-full: 9999px;
  /* Stroke */
  --stroke-0: 1px;
  --stroke-1: 2px;
  --stroke-2: 4px;
  --stroke-3: 6px;
  /* Elevation */
  --shadow-xs: 0px 2px 3px 0px rgba(0, 0, 0, 0.065);
  --shadow-sm: 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
  --shadow-md: 0px 6px 12px -1px rgba(0, 0, 0, 0.156);
  --shadow-lg: 0px 15px 30px -4px rgba(0, 0, 0, 0.195);
  --shadow-xl: 0px 30px 60px -12px rgba(0, 0, 0, 0.234);
}